<%= form_for @contact do |f| %>
	<div class='row pvs'>
		<div class='col-md-2'>
			<div class='phxxxl'>
				<%= label_tag :name %>
			</div>
		</div>
		<div class='col-md-10'>
			<div class='phxxxl'>
				<%= f.text_field :name, :required => true %>
			</div>
		</div>
	</div>
	<div class='row pvs'>
		<div class='col-md-2'>
			<div class='phxxxl'>
				<%= label_tag :email %>
			</div>
		</div>
		<div class='col-md-10'>
			<div class='phxxxl'>
		  	<%= f.text_field :email, :required => true %>
		  </div>
		</div>
  </div>
  <div class='row pvs'>
  	<div class='col-md-2'>
  		<div class='phxxxl'>
	  		<%= label_tag :message %>
	  	</div>
	  </div>
	  <div class='col-md-10'>
	  	<div class='phxxxl'>
		 	 <%= f.text_area :message, :required => false, :size => "50x10" %>
		  </div>
		</div>
  </div>
  <div class='row pvs'>
  	<div class='col-md-2'>
	  </div>
	  <div class='col-md-10'>
	  	<div class='phxxxl'>
		  	<%= f.submit 'Send message', :class => 'c-green-hover braxs zl bg-15' %>
		  </div>
		</div>
	</div>
<% end %>