<!DOCTYPE html>
<html>
  <head>
    <title>IgorLuzhansky</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='row '>
      <div class='col-md-2 prn'>
        <%= render partial: "shared/nav" %>
      </div>
      <div class='col-md-8 col-sm-8 bwls bss bc-1 pvs phxxxl'>
        <% if flash[:error] %>
          <div class='c-red'>
            <%= flash[:error] %>
          </div>
        <% end %>
        <% if flash[:notice] %>
          <div class='c-green'>
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <div class='col-md-2'>
      </div>
    </div>
    <div class='row dvxxxl bg-4'>
      <%= render partial: "shared/footer" %>
    </div>
  </body>
</html>